<div class="bg-black bg-opacity-25 p-8 text-2xl gap-3 flex flex-col rounded-2xl">
    <h3 class="font-bold text-3xl"><%= companyName %></h3>
    <span class="text-aqua-self"><%= role %></span>
    <span><%= startDate.month %> <%= startDate.year %> - <%= endDate.month %> <%= endDate.year %></span>
    <ul><% activities.forEach(function(ac) { %>
        <li class="flex mb-3">
            <i svg="" class="mt-[0.2em] mr-3 text-aqua-self"><%- ICONS['code'] %></i>
            <p class="marked"><%- ac %></p>
        </li><% }); %>
    </ul>
</div>